.SearchPage {
    width: 100%;
    height: 100%;
}

.SearchPage__header {
    border-radius: 10px;
    border : 4px solid #00bb38;
    margin: 40px 20px;
    height: 50px;
}
.SearchPage__header>section {
    display: flex;
    align-items: center;
    height: 100%;
}
.SearchPage__header input {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 10px;
    font-size: 15px;
}
.SearchPage__header svg {
    color: gray;
    font-size: 30px;
    padding: 0px 5px;
    border-left: 1px solid #d8d8d8;
}
.SearchPage__header svg:hover{
    color : #00bb38;
    cursor: pointer;
}
.SearchPage__contents{
    height: calc(100vh - 185px);
    overflow-y: auto;
}