.leftNav {
    height: 100%;
    position: absolute;
    border-right: 1px solid #d9d9d9;
}

.leftNav--menu__icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.leftNav--menu__icon svg {
    color: #00bb38;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}
