.TourPage {
    font-family: 'NotoSansKR-Regular';
}

.TourPage__header {
    background: 
     linear-gradient(#fff,#fff) padding-box, 
     linear-gradient(to right, #00bb38, #ffe45d) border-box;
    color: #313149;
    padding:10px;
    border: 5px solid transparent;
    border-radius:15px;
    display:inline-block;
    display: flex;
    margin: 40px 15px 20px;
    padding : 15px 30px;
    justify-content: space-evenly;
}

.TourPage__header >input {
    font-size: 2em;
    width: 80%;
    border: none;
    font-family: 'NotoSansKR-Regular';
}
.TourPage__header >input:focus {
    border-bottom: 1px solid #00bb38;
}
.TourPage__header > svg {
    color: #f6b236;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.TourPage__contents {
    height: calc(100vh - 185px);
}
.TourPage__contents--wrapper {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 100%;
}
.TourCardImg__wrapper {
    width: 180px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px grey;
    border-radius: 20px;
}
.TourCardImg__wrapper:hover {
    cursor: pointer;
}
.TourCardImg {
    border-radius: 20px;
    width: 180px;
    height: 100px;
}
.TourCardImg__title {
    position: relative;
    color: #fff;
    background: rgb(0 0 0 / 60%);
    border-radius: 5px;
    padding: 3px 5px;
    bottom: 30px;
    left: 20px;
    max-width: 150px;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.TourCardImg:hover {
    border: 2px solid #f3e25b;
    box-shadow: 5px 5px 15px #f6b236;
}

.TourModal {
    position: fixed;
    width: 60%;
    height: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 1;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 10px 10px 100px 20px #040303;
    display: block;
}
.TourModal__closer {
    right: 20px;
    position: absolute;
    color: #fff;
    top: 20px;
    cursor: pointer;
}
.TourModal__closer > svg {
    width: 40px;
    height: 40px;
}